.deps
*.html
*.txt
*.css
*.js
*.pyc
*.bit
*.swp
*.bgn
*.bgn
*.drc
*.map
*.mrp
*.ncd
*.ngc
*.xrpt
*.ngd
*.ngm
*.pcf
*.xwbt
*.vhd
*.par
*.pad
*.xpi
*.unroutes
*.ptwx
*.bin
*.blif
*.csv
*.cmd
*.srp
*.lst
*.o
*.log
*~
.ipynb_checkpoints
.DS_store
.magma
